docker/nodered.json
[
    {
        "id": "f1",
        "type": "tab",
        "label": "DHT11 Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_broker_1",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered_client",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "ui_group_1",
        "type": "ui_group",
        "name": "DHT11 Sensors",
        "tab": "ui_tab_1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_tab_1",
        "type": "ui_tab",
        "name": "Sensor Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "mqtt_in_1",
        "type": "mqtt in",
        "z": "f1",
        "name": "DHT11 Data",
        "topic": "sensor/dht",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_1",
        "x": 120,
        "y": 100,
        "wires": [["json_1"]]
    },
    {
        "id": "json_1",
        "type": "json",
        "z": "f1",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 280,
        "y": 100,
        "wires": [["temp_function_1", "humidity_function_1"]]
    },
    {
        "id": "temp_function_1",
        "type": "function",
        "z": "f1",
        "name": "Extract Temperature",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 60,
        "wires": [["temp_gauge_1"]]
    },
    {
        "id": "humidity_function_1",
        "type": "function",
        "z": "f1",
        "name": "Extract Humidity",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 140,
        "wires": [["humidity_gauge_1"]]
    },
    {
        "id": "temp_gauge_1",
        "type": "ui_gauge",
        "z": "f1",
        "name": "Temperature",
        "group": "ui_group_1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 50,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": 20,
        "seg2": 30,
        "x": 680,
        "y": 60,
        "wires": []
    },
    {
        "id": "humidity_gauge_1",
        "type": "ui_gauge",
        "z": "f1",
        "name": "Humidity",
        "group": "ui_group_1",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": ["#ca3838", "#e6e600", "#00b500"],
        "seg1": 30,
        "seg2": 70,
        "x": 680,
        "y": 140,
        "wires": []
    }
]